.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout-main {
  flex: 1;
  padding-top: var(--spacing-xl);
  padding-bottom: var(--spacing-2xl);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
